@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);

@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended-Ultrabold.ttf) format("truetype"), url(../fonts/MonumentExtended-Ultrabold.woff) format("woff"), url(../fonts/MonumentExtended-Ultrabold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended-Regular.ttf) format("truetype"), url(../fonts/MonumentExtended-Regular.woff) format("woff"), url(../fonts/MonumentExtended-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BouquetTypeface";
  src: url(../fonts/bouquet-typeface-regular.ttf) format("truetype"), url(../fonts/bouquet-typeface-regular.woff) format("woff"), url(../fonts/bouquet-typeface-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

input,
textarea {
  resize: none;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._cont {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  text-transform: uppercase;
}

h1 {
  font-family: "MonumentExtended", sans-serif;
  font-size: 73px;
  line-height: 1.1;
  font-weight: 400;
  text-transform: none;
}

h2 {
  font-family: "MonumentExtended", sans-serif;
  font-size: 58px;
  line-height: 1.15;
  font-weight: 400;
  text-transform: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 108px;
}

.header__cont {
  width: 100%;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 127px;
          flex: 0 0 127px;
  position: relative;
  margin-right: 50px;
  z-index: 100;
}

.main-nav__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-nav__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}

.main-nav__menu {
  margin-right: 30px;
}

.main-nav__join {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 37px;
  border-radius: 10px;
  background: #21d3cf;
  color: #051d23;
  font-weight: 700;
  font-size: 12px;
  border: 1px solid #fff;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.main-nav__join:hover {
  background: #123b48;
  color: #fff;
  border-color: #21697f;
}

.main-nav__burger {
  display: none;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-menu__item {
  text-align: center;
  padding: 0 25px;
  min-width: 110px;
}

.main-menu__item_parent {
  position: relative;
}

.main-menu__item_parent > a {
  position: relative;
  z-index: 2;
}

.main-menu__item_parent > a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 3px;
  background: url(../img/home/header/home-header-01.png) center/contain no-repeat;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  z-index: 2;
}

.main-menu__item_parent._active > a::before {
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.main-menu__item a {
  color: #94adae;
  font-size: 13px;
  line-height: 2.61;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.main-menu__item a:hover,
.main-menu__item a._active {
  color: #e9f5f6;
}

.main-menu__sub {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  padding-top: 32px;
  border-radius: 5px;
  background: #4b6c7585;
  border: 1px solid #ffffff85;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.main-menu__sub._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.main-menu__sub li {
  border-top: 1px solid #ffffff85;
}

.main-menu__sub li a {
  color: #94adae;
  font-size: 13px;
  line-height: 2.61;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 100;
}

.burger span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1);
      -ms-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  width: 100%;
  height: 3px;
  background: #F5F6FA;
  border-radius: 5px;
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  -o-transition: transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #F5F6FA;
  border-radius: 5px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger._active span {
  -webkit-transform: translateY(-50%) scale(0);
      -ms-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
}

.burger._active::before,
.burger._active::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #F5F6FA;
  border-radius: 5px;
}

.burger._active::before {
  top: 46%;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

.burger._active::after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translateY(50%);
      -ms-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
}

.footer {
  background: #061d23;
}

.footer__cont {
  padding-top: 135px;
  padding-bottom: 15px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 285px;
          flex: 0 1 285px;
}

.footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}

.info-footer__logo {
  width: 95px;
  margin-bottom: 20px;
}

.info-footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.info-footer__text {
  text-transform: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
}

.info-footer__contacts li {
  position: relative;
  text-transform: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 20px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.info-footer__contacts li:not(:last-child) {
  margin-bottom: 5px;
}

.info-footer__contacts li a {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.info-footer__contacts li:hover a {
  opacity: 0.5;
}

.info-footer__contacts li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(../img/home/roadmap/home-roadmap-02.png) center/contain no-repeat;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.nav-footer__title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
  margin-bottom: 45px;
}

.nav-footer__list li {
  text-transform: none;
  font-size: 14px;
  line-height: 1.2;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.nav-footer__list li:not(:last-child) {
  margin-bottom: 20px;
}

.nav-footer__list li a {
  position: relative;
  padding-left: 20px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.nav-footer__list li a:hover::before {
  left: 5px;
}

.nav-footer__list li a::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(../img/home/roadmap/home-roadmap-03.png) center/contain no-repeat;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.social-footer a {
  display: block;
  width: 25px;
  margin-bottom: 17px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.social-footer a:hover {
  opacity: 0.5;
}

.social-footer a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.copyright-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: none;
  font-size: 8px;
  font-weight: 500;
}

.copyright-footer p {
  margin-right: 75px;
}

.copyright-footer a {
  text-decoration: underline;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.copyright-footer a:hover {
  text-decoration: none;
}

.mainscreen {
  position: relative;
  background: url(../img/home/main/home-main-011.png) top left/cover no-repeat;
  padding-bottom: 57%;
}

.mainscreen__cont {
  position: absolute;
  padding-top: 108px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  padding-top: 108px;
}

.mainscreen__title {
  max-width: 775px;
  margin-bottom: 10px;
}

.mainscreen__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 2.2;
  max-width: 510px;
  margin-bottom: 5px;
}

.mainscreen__sub-text {
  font-weight: 600;
  font-size: 10px;
  line-height: 2.2;
  margin-bottom: 30px;
}

.mainscreen__sub-text a {
  color: #2ceced;
  text-decoration: underline;
}

.mainscreen__sub-text a:hover {
  color: #2ceced;
  text-decoration: none;
}

.mainscreen__button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 166px;
  height: 55px;
  font-family: "MonumentExtended";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: #051d23;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.mainscreen__button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.mainscreen__button svg path {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.mainscreen__button span {
  position: relative;
  z-index: 2;
}

.mainscreen__button:hover {
  color: #fff;
}

.mainscreen__button:hover svg path {
  fill: #123b48;
}

.mainscreen__social {
  position: absolute;
  right: 20px;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 10px 15px;
  background: #013f4a;
  border-radius: 5px;
}

.mainscreen__social a {
  width: 18px;
  height: 21px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.mainscreen__social a:hover {
  opacity: 0.7;
}

.mainscreen__social a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.partners__cont {
  padding: 15px 75px;
  background: #0b2c36;
  margin-bottom: 200px;
}

.partners__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.partners__item {
  width: calc(25% - 60px);
  height: 100px;
}

.partners__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.token__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1065px;
  margin: 0 auto 200px;
}

.token__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.token__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.token__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.right-token {
  padding-left: 90px;
}

.right-token__title {
  font-family: "MonumentExtended";
  font-size: 60px;
  line-height: 1.05;
  font-weight: 400;
  color: #0a313b;
  margin-bottom: 25px;
}

.right-token__title span {
  color: #2deeef;
  font-weight: 800;
}

.right-token__list {
  color: #0c313b;
  font-weight: 700;
  margin-bottom: 30px;
}

.right-token__list li {
  line-height: 28px;
  position: relative;
  padding-left: 40px;
}

.right-token__list li:not(:last-child) {
  padding-bottom: 25px;
}

.right-token__list li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 14px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5px;
  height: 18px;
  background: #b3f3f5;
  border-radius: 2px;
}

.right-token__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background: url(../img/home/token/home-token-2.png) center/contain no-repeat;
}

.right-token__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "MonumentExtended";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.04;
  text-transform: none;
  width: 283px;
  height: 64px;
  color: #0a313b;
  background: #81f3f8;
  border-radius: 5px;
  border: 2px solid #81f3f8;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.right-token__button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#81f3f8), color-stop(60%, rgba(129, 243, 248, 0)));
  background: -o-linear-gradient(left, #81f3f8 0%, rgba(129, 243, 248, 0) 60%);
  background: linear-gradient(90deg, #81f3f8 0%, rgba(129, 243, 248, 0) 60%);
  -webkit-transform: translate();
      -ms-transform: translate();
          transform: translate();
}

.mission {
  position: relative;
  background: url(../img/home/mission/home-mission-2.png) center/cover no-repeat;
}

.mission::before {
  content: "";
  position: absolute;
  top: -4%;
  left: 0;
  width: 100%;
  height: 210px;
  background: url(../img/home/mission/home-mission-1.png) center right/cover no-repeat;
}

.mission__cont {
  padding-top: 100px;
  padding-bottom: 65px;
}

.mission__title {
  text-align: center;
}

.mission__industry {
  margin-bottom: 115px;
}

.industry-mission__title {
  text-align: center;
  font-size: 24px;
  line-height: 1.58;
  margin-bottom: 30px;
}

.industry-mission__title strong {
  font-size: 38px;
  font-family: "BouquetTypeface";
  font-weight: 400;
  text-transform: none;
  color: #21d3cf;
  margin-right: 10px;
}

.industry-mission__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.industry-mission__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.industry-mission__video iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.industry-mission__tbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 25px;
}

.industry-mission__tbox p {
  font-size: 22px;
  line-height: 2.12;
  max-width: 555px;
}

.industry-mission__tbox p strong {
  color: #21d3cf;
}

.industry-bottom {
  text-align: center;
}

.industry-bottom__title {
  color: #21d3cf;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.2;
}

.industry-bottom__tbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 50px;
}

.industry-bottom__tbox li {
  position: relative;
  font-size: 17px;
  line-height: 1.2;
  padding-left: 17px;
}

.industry-bottom__tbox li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background: #21d3cf;
  border-radius: 50%;
}

.industry-bottom__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 157px;
  height: 48px;
  background: #21d3cf;
  color: #051d23;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.industry-bottom__button:hover {
  background: #123b48;
  color: #fff;
  border-color: #21697f;
}

.ecosystem-mission {
  text-align: center;
}

.ecosystem-mission__title {
  font-family: "MonumentExtended";
  font-weight: 400;
  font-size: 38px;
  line-height: 1.15;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

.ecosystem-mission__ibox {
  position: relative;
  padding-bottom: 47%;
  margin-bottom: 50px;
}

.ecosystem-mission__ibox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ecosystem-mission__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 235px;
  height: 56px;
  padding: 10px;
  background: #21d3cf;
  color: #051d23;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: none;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.ecosystem-mission__button:hover {
  background: #123b48;
  color: #fff;
  border-color: #21697f;
}

.charters::before {
  content: "";
  position: absolute;
  top: -22%;
  left: 0;
  width: 100%;
  height: 125px;
  background: url(../img/home/charters/home-charters-2.png) center left/cover no-repeat;
}

.charters__cont {
  padding-top: 90px;
  margin-bottom: 60px;
}

.charters__title {
  text-align: center;
  color: #0a313b;
  margin-bottom: 15px;
}

.charters__subtitle {
  font-size: 17px;
  line-height: 1.35;
  color: #0a313b;
  text-align: center;
  margin-bottom: 15px;
}

.charters__content {
  position: relative;
  background: url(../img/home/charters/home-charters-1.png) center/contain no-repeat;
  max-width: 720px;
  padding-bottom: 48%;
  margin: 0 auto;
}

.charters__text {
  position: absolute;
  bottom: 17%;
  font-size: 18px;
  line-height: 1.33;
  color: #0a313b;
  background: #fff;
  text-align: center;
}

.charters__button {
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 50px;
  background: #29a3ad;
  color: #fff;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 600;
  border-radius: 5px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.charters__button:hover {
  background: #123b48;
}

.roadmap {
  background: url(../img/home/roadmap/home-roadmap-01.png) center/cover no-repeat;
}

.roadmap__cont {
  padding-top: 185px;
  padding-bottom: 80px;
  min-height: 1860px;
}

.roadmap__top {
  margin-bottom: 45px;
}

.top-roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top-roadmap__tab-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 445px;
          flex: 0 1 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 20px;
}

.top-roadmap__tab-nav li {
  position: relative;
  font-size: 13px;
  color: #fff;
  line-height: 1.36;
  padding: 0 10px 6px;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.top-roadmap__tab-nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

.top-roadmap__tab-nav li._active {
  font-size: 20px;
  padding: 0 20px 6px;
  opacity: 1;
}

.top-roadmap__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
  text-align: end;
}

.top-roadmap__title {
  margin-bottom: 20px;
}

.top-roadmap__quote p {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: none;
  margin-bottom: 15px;
}

.top-roadmap__quote span {
  font-size: 13px;
}

.tab-roadmap {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-roadmap._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-roadmap__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 455px;
          flex: 0 1 455px;
  padding-top: 70px;
}

.tab-roadmap__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 455px;
          flex: 0 1 455px;
}

.tab-roadmap__item:not(:last-child) {
  margin-bottom: 115px;
}

.roadmap-item {
  position: relative;
  background: #4b6c7535;
  border: 1px solid #ffffff85;
  border-radius: 25px;
  padding: 45px 35px;
}

.roadmap-item_check::before {
  content: "";
  position: absolute;
  top: -31px;
  right: -32px;
  width: 63px;
  height: 60px;
  background: url(../img/home/roadmap/home-roadmap-04.png) center/contain no-repeat;
}

.roadmap-item__info {
  position: absolute;
  top: -42px;
  left: 35px;
}

.roadmap-item__date {
  font-size: 17px;
  line-height: 1.29;
  margin-left: 5px;
}

.roadmap-item__date strong {
  color: #21d3cf;
}

.roadmap-item__name {
  font-family: "MonumentExtended";
  font-size: 38px;
  font-weight: 400;
  line-height: 1.15;
}

.roadmap-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.roadmap-item__list li {
  position: relative;
  width: calc(50% - 25px);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding-left: 30px;
}

.roadmap-item__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/home/roadmap/home-roadmap-02.png) center/contain no-repeat;
}

.roadmap-item__list li._empty::before {
  background: url(../img/home/roadmap/home-roadmap-03.png) center/contain no-repeat;
}

@media (max-width: 992px) {
  .main-nav__logo {
    margin-right: 30px;
  }

  .main-nav__menu {
    margin-right: 15px;
  }

  .main-nav__join {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
    height: 34px;
    font-size: 10px;
  }

  .main-menu__item {
    padding: 0 20px;
    min-width: 100px;
  }

  .main-menu__item a {
    font-size: 11px;
  }

  .main-menu__sub {
    padding-top: 28px;
  }

  .main-menu__sub li a {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 70px;
  }

  .header::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6c9ba1;
    z-index: 100;
  }

  .header._active::before {
    display: block;
  }

  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-nav__logo {
    margin-right: 0;
  }

  .main-nav__content {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #1f4b5a;
    overflow: auto;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }

  .main-nav__content._active {
    top: 0;
  }

  .main-nav__menu {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .main-nav__join {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40px;
            flex: 0 1 40px;
    min-height: 40px;
    width: 140px;
    font-size: 16px;
  }

  .main-nav__burger {
    display: block;
  }

  .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .main-menu__item {
    padding: 0;
    min-width: 220px;
  }

  .main-menu__item a {
    font-size: 16px;
  }

  .main-menu__sub {
    display: none;
    position: static;
    padding-top: 32px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    margin-top: -38px;
  }

  .main-menu__sub li a {
    font-size: 14px;
  }
}